@use "../utils/colors" as col;
@use "sass:color";
@use "../utils/mixins/mixin-buttons" as btn;

.add-square-button {
  @include btn.button-styles(
    $bg-color: col.$primary-color, 
    $hover-color: color.scale(col.$primary-color, $lightness: -20%),
    $text-color: #fff,                         
  );
}

.clear-squares-button {
  @include btn.button-styles(
    $bg-color: col.$button-danger-color, 
    $hover-color: color.scale(col.$button-danger-color, $lightness: -20%),
    $text-color: #fff,                         
  );
}
