@use "../utils/mixins/mixin-media" as mixins;

.square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .square-area {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;

    .square {
      width: 20px;
      height: 20px;
      border: 1px solid black;
      opacity: 0;
      transform: scale(0.5);
      transition:
        opacity 0.2s ease,
        transform 0.5s ease;
    }

    .square.visible {
      opacity: 1;
      transform: scale(1);
    }
  }
}
