.square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .square-area {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;

    .square {
      width: 20px;
      height: 20px;
      border: 1px solid black;
    }
  }
}
