$primary-color: #2aa198;
$secondary-color: #e0e0e0;
$background-primary-color: #502e7f;
$background-secondary-color: #e0e0e0;
$text-primary-color: #f5f5f5;
$text-secondary-color: #f0f0f0;

$button-danger-color: #d9534f;