.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .square-area {

    
        .square {

        }
    }

    .add-square-button {
        background-color: #7030A0;
        border: 2px solid black;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #552080;
        }
    }
}