@use "../utils/variables" as vars;
@use "../utils/colors" as color;
@use "../utils/mixins/mixin-media" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-stack;
  background-color: color.$background-primary-color;
  color: color.$text-primary-color;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: vars.$container-padding;
  padding-left: vars.$container-padding;

  @include mixins.respond-to("tablet") {
    max-width: 540px;
  }

  @include mixins.respond-to("laptop") {
    max-width: 720px;
  }

  @include mixins.respond-to("desktop") {
    max-width: 1140px;
  }

  @include mixins.respond-to("ultrawide") {
    max-width: 1600px;
  }
}
